.git
.gsd-keyboard.settings-ported
autostart
BraveSoftware
btop
burn-my-windows
cef_user_data
coc
Code
create-next-app-nodejs
dconf
discord
dleyna-renderer-service.conf
epiphany
evolution
fastfetch
flutter
gh
gnome-control-center
gnome-session
goa-1.0
Google
google-chrome
gtk-3.0
gtk-4.0
ibus
JetBrains
matplotlib
mimeapps.list
monitors.xml
monitors.xml~
nautilus
nextjs-nodejs
pulse
QtProject.conf
scripts
systemd
TabNine
torbrowser
turso
user-dirs.dirs
user-dirs.locale
vivaldi
vlc
yay
